@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,600;6..12,700&family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html {
    font-size: 80%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(15, 9, 41);
    /* z-index: -10000; */
}

section {
    padding: 5rem 7%;
    /* z-index: 100; */
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: .1rem;
        width: 100%;
        left: 0;
        top: 50%;
        background-color: #AED2FF;
        z-index: -1;
        /* transform: translateY(-50%); */
    }

    & span {
        color: #4942E4;
        font-size: 3rem;
        padding: .5rem 1.5rem;
        background-color: rgb(15, 9, 41);
        border: .1rem solid #C9EEFF;
        border-radius: .5rem;
    }
}

.btn {
    font-size: 1.5rem;
    padding: .8rem 1rem;
    background-color: #4942E4;
    border-radius: 1.5rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    color: #C9EEFF;
    font-weight: bold;
    /* margin-top: 12rem; */
}

.btn:hover {
    background-color: black;
    /* transform: scale(1.2); */
}

.header {
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    /* background-color: rgb(15, 9, 41); */
    width: 100%;
    height: 7rem;
    z-index: 10000;
}

.header .logo {
    font-size: 2.5rem;
    color: #C9EEFF;
    font-weight: 700;
}

.header .logo span {
    color: #4942E4;
}

.header .navbar a {
    color: #C9EEFF;
    padding: .6rem .8rem;
    margin-right: 1.5rem;
    font-size: 1.7rem;
    border-radius: .6rem;
    font-weight: bold;

    z-index: 100000000;
    &:hover {
        background-color: #4942E4;
    }
}

.header .menubar {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.header.navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.home {
    padding: 0 7%;

    z-index: -1;
    /* margin-top: 5rem; */
    .slide {
        min-height: 70vh;
        background-position: center !important;
        background-size: cover !important;
        display: flex;
        align-items: center;
        padding: 2rem 7%;
        margin-bottom: 5rem;
        z-index: -11;

        .content {
            width: 60rem;
            z-index: -11;

            & h3 {
                font-size: 5rem;
                color: #4942E4;
                padding: 1rem 0;
                margin-bottom: 4rem;
            }
        }
    }
}

.swiper-pagination-bullet {
    height: 2rem;
    width: 2rem;
    background-color: #8fa7c5;
}

.swiper-pagination-bullet-active {
    background-color: #4942E4;
}

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;

    .about_img {
        flex: 1 1 45rem;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    .content {
        flex: 1 1 45rem;

        /* color: white; */
        & span {
            font-size: 2rem;
            color: #4942E4;
            font-weight: bolder;
        }

        .title {
            font-size: 4rem;
            color: #865DFF;
            margin-top: 1rem;
        }

        & p {
            font-size: 1.2rem;
            line-height: 1.5;
            color: #8fa7c5;
            margin: 1.5rem 0;
            margin-right: .5rem;
        }

        .box_container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;

            .box {
                flex: 1 1 25rem;

                & h3 {
                    font-size: 1.8rem;
                    color: #865DFF;

                    & i {
                        margin-right: 1rem;
                        color: #4942E4;
                    }
                }
            }
        }

        .btn {
            font-size: 1.2rem;
            padding: .5rem .6rem;
            background-color: #4942E4;
            margin-top: 2rem;
        }

        .btn:hover {
            border: 1px solid #C9EEFF;
            background-color: black;
            /* transform: scale(1.2); */
        }
    }
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 0;

    .box {
        background-color: #222055;

        &:hover .image img {
            transform: scale(1.1);
        }

        &.second {
            display: flex;
            flex-flow: column-reverse;
        }

        .image {
            height: 26rem;
            width: 100%;
            overflow: hidden;

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;
            text-align: center;

            & img {
                height: 9rem;
                margin-bottom: 1rem;
                color: #AED2FF;
                filter: invert(1);
            }

            & h3 {
                font-size: 2rem;
                color: #865DFF;
            }

            & p {
                line-height: 2rem;
                font-size: 1.5rem;
                color: #AED2FF;
                padding: 1rem 0;
                margin-bottom: 2rem;
            }

            .btn {
                font-size: 1.2rem;
                padding: .5rem .6rem;
                background-color: #865DFF;
                margin-top: 2rem;
            }

            .btn:hover {
                border: 1px solid #C9EEFF;
                background-color: black;
                /* transform: scale(1.2); */
            }
        }
    }
}

.pricing {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1.3fr));
    gap: 0;

    .information {
        padding: 2rem;
        background: #222055;

        & span {
            font-size: 2rem;
            color: #4942E4;
            font-weight: bolder;
        }

        & h3 {
            font-size: 4rem;
            color:#865DFF;
            padding-top: .5rem;
        }

        & p {
            line-height: 2;
            padding: 1rem 0;
            font-size: 1.4rem;
            color: #8fa7c5;

            & i {
                color: #865DFF;
                margin-right: 1.5rem;
            }
        }

        .lastp {
            margin-bottom: 2rem;
        }
    }

    .plan {
        text-align: center;
        padding: 2rem;
        background: #222055;

        &.basic {
            background: #373569;
        }

        & h3 {
            font-size: 2.5rem;
            color: #865DFF;
        }

        .price {
            margin: 2rem 0;
            font-size: 5rem;
            font-weight: bolder;
            color: #865DFF;

            & span {
                color: #AED2FF;
                font-size: 3rem;
            }
        }

        .list {
            padding: 1rem 0;
            margin-bottom: 3rem;

            & p {
                line-height: 2;
                padding: 1rem 0;
                font-size: 1.4rem;
                color: #8fa7c5;

                & i {
                    color: #4942E4;
                    margin-right: 1.5rem;
                }
            }
        }
    }


    .btn {
        font-size: 1.2rem;
        padding: .5rem .6rem;
        background-color: #4942E4;
        margin-top: 2rem;
    }

    .btn:hover {
        border: 1px solid #C9EEFF;
        background-color: black;
        /* transform: scale(1.2); */
    }
}

.trainers .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;

    .box {
        height: 40rem;
        overflow: hidden;
        position: relative;

        &:hover .content {
            transform: translateY(0);
        }

        & img {

            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .content {
            position: absolute;
            background: #222055;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 2rem;
            transform: translateY(7rem);

            & span {
                font-size: 1.5rem;
                color: #865DFF;
                font-weight: bold;
            }

            & h3 {
                font-size: 2rem;
                color: #AED2FF;
                font-weight: bolder;
                padding-top: .5rem;
            }

            .share {
                margin-top: 2rem;
                border-top: .1rem solid #AED2FF;
                padding-top: 2rem;

                & a {
                    font-size: 1.5rem;
                    color: #C9EEFF;
                    margin-right: 1rem;
                    padding: .5rem;
                    border-radius: 50%;

                    &:hover {
                        background-color: #865DFF;
                    }
                }
            }
        }
    }
}

.banner .main {
    height: 30rem;
    /* overflow: hidden; */
    position: relative;
    color: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));

    & img {

        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .content {
        position: absolute;
        text-align: center;
        top: 20%;
        right: 0;
        left: 0;

        & span {
            font-size: 2rem;
            color: #4942E4;
            text-transform: uppercase;
        }

        & h3 {
            padding-top: 1rem;
            color: #AED2FF;
            text-transform: uppercase;
            font-size: 3rem;

            & span {
                font-size: 4rem;
            }
        }

        & p {
            margin: 1rem auto;
            max-width: 40rem;
            color: #AED2FF;
            margin-bottom: 4rem;
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}

.review {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .information {
        flex: 1 1 35rem;

        & span {
            font-size: 2rem;
            color: #865DFF;
        }

        & h3 {
            font-size: 3rem;
            color: #4942E4;
            padding-top: 1rem;
        }

        & p {
            font-size: 1.5rem;
            line-height: 1.5;
            color: #8fa7c5;
            padding-top: 1rem;
            margin-bottom: 1rem;
        }

        .btn {
            font-size: 1.2rem;
            padding: .5rem .6rem;
            background-color: #4942E4;
            margin-top: 2rem;
        }

        .btn:hover {
            border: 1px solid rgb(255, 255, 255);
            background-color: black;
            /* transform: scale(1.2); */
        }
    }

    .review-slider {
        flex: 1 1 60rem;

        .slide {
            background: #222055;
            padding: 2rem 3rem;

            & p {
                font-size: 1.5rem;
                line-height: 2;
                color: #AED2FF;
            }

            .user {
                display: flex;
                align-items: center;
                margin-top: 1rem;

                /* justify-content: space-around; */
                & img {
                    height: 5rem;
                    width: 5rem;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 1rem;
                }

                & h3 {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                    color: #4942E4;
                }

                & span {
                    font-size: 1.3rem;
                    color: #AED2FF;
                }

                & i {
                    font-size: 4rem;
                    color: #8fa7c5;
                    margin-left: auto;
                    margin-right: 2rem;
                }
            }
        }
    }
}

.blogs {
    .slide {
        background: #222055;
        margin-bottom: 5rem;

        &:hover .image img {
            transform: scale(1.1);
        }

        .image {
            height: 25rem;
            width: 100%;
            overflow: hidden;

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 2rem;

            .link {
                padding-bottom: 1rem;
                font-size: 1.5rem;

                & a {
                    color: #4942E4;

                    &:hover {
                        color: #8fa7c5;
                    }
                }

                & span {
                    color: #C9EEFF;
                    padding: 0 1rem;
                }
            }

            & h3 {
                font-size: 2rem;
                color: #C9EEFF;
                line-height: 1.5;
            }

            & p {
                font-size: 1.5rem;
                color: #8fa7c5;
                line-height: 2;
                padding: 1rem 0;
            }

            .btn {
                font-size: 1.2rem;
                padding: .5rem .6rem;
                /* background-color: ; */
                margin-top: 2rem;
            }

            .btn:hover {
                border: 1px solid #AED2FF;
                background-color: black;
                /* transform: scale(1.2); */
            }
        }
    }
}

.footer {

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 0rem;
    }

    .box {
        & h3 {
            font-size: 2rem;
            color: #4942E4;
            padding: 1rem 0;
        }

        .links {
            font-size: 1.3rem;
            color: #8fa7c5;
            padding: .7rem 0;
            display: block;

            &:hover {
                color: #4942E4;
            }
        }

        & p {
            font-size: 1.5rem;
            color: #8fa7c5;
            padding: 1rem 0;

            & i {
                padding-right: .5rem;
                color: #4942E4;
            }
        }

        .share {
            padding: 1rem 0;

            & a {
                padding: .8rem;
                font-size: 1.5rem;
                background-color: rgb(37, 36, 36);
                border-radius: 50%;
                margin-right: .7rem;
                color: #AED2FF;

                &:hover {
                    background-color: #4942E4;
                }
            }
        }

        & form {
            .email {
                width: 100%;
                margin-bottom: 2rem;
                padding: 1.5rem;
                background-color: rgb(36, 29, 68);
                border-radius: .8rem;
                text-transform: none;
                color: #C9EEFF;
                font-size: 1.3rem;
            }

            .btn {
                font-size: 1.2rem;
                padding: .6rem .7rem;
                background-color: #4942E4;
                margin-top: 2rem;
            }

            .btn:hover {
                border: 1px solid #AED2FF;
                background-color: black;
                /* transform: scale(1.2); */
            }
        }
    }
}

.credit {
    background-color: rgb(29, 28, 28);
    /* height: 4rem; */
    font-size: 1.3rem;
    color: #C9EEFF;
    text-align: center;
    padding: 1rem 0;

    & span {
        color: #4942E4;
    }
}















/* media queries */
@media (max-width: 1200px) {
    html {
        font-size: 64.5%;
    }

    .header {
        padding: 0 2rem;
    }
}

@media (max-width: 950px) {
    html {
        font-size: 55%;
    }

    section {
        padding: 2rem 3rem;
    }

    .home .slide {
        z-index: -11;
        padding: 2rem 4%;

        .content {
            width: 50rem;

            & h3 {
                font-size: 4rem;
            }
        }
    }
}

@media (max-width: 750px) {
    .header {
        padding: 2rem;
        z-index: 10000;
    }

    .header .navbar {
        z-index: 100000000;
        top: 99%;
        left: 0;
        right: 0;
        position: absolute;
        clip-path: polygon(50% 0%, 0 0, 100% 0);

        & a {
            z-index: 10000000000000;
            display: block;
            font-size: 2rem;
            margin: 1rem;
        }
    }

    .header .menubar {
        display: inline-block;
    }

    .about {
        gap: 3rem;

        .about_img {
            margin-top: 5rem;
        }

        .content .title {
            font-size: 2.5rem;
        }
    }

    .features .box-container .box.second {
        flex-flow: column;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .slide .content h3 {
        font-size: 3rem;
    }
}